/* .content{
    padding:16px;
}
.content> mat-card {
    width:10px;

} */

.card{
    height: 600px;
    width: 600px;
    margin-left: 5%;
    
}
.example-card{
    width: 270px;
    margin: 20px;
  }
 
  