<!-- <body>
  <form>

    <div class="design">
      <img src="../../assets/banner-campaign-insurance.jpg" width="100%" height="670px">
    </div>

<div class="center">

  <div class="textfield">
    <input type="first_name" required>
    <label>FirstName</label>
  </div>


  <div class="textfield">
    <input type="last_name" required>
    <label>LastName</label>
  </div>


  <div class="textfield">
    <input type="phone number" required>
    <label>PhoneNumber</label>
  </div>

  <div class="textfield">
    <input type="text"  required>
    <span></span>
    <label> Email </label>
    </div>

    <div class="textfield">
    <input type="password" required>
    <label> Password</label>
  </div>

  <div class="textfield">
    <input type="confirmpassword" required>
    <label>ConfirmPassword</label>
  </div>
  
<input type="submit" value="Register">
</div>
</form>
</body> -->


























 
<div class="img">


  <div class="form">
    <form [formGroup]="registrationForm">

      
      <div class="content">
        <label>First Name*</label>
        <input type="text" class="form-control" formControlName="firstName">
        
      </div>
      <div
          *ngIf="registrationForm.controls['firstName'].touched && registrationForm.controls['firstName'].hasError('required')">
          <span class="is-invalid">FirstName is required</span>
        </div>
      <br>


      <div class="content">
        <label>Last Name*</label>
      
        <input type="text" class="form-control" formControlName="lastName">
        
      </div>
      <div
          *ngIf="registrationForm.controls['lastName'].touched && registrationForm.controls['lastName'].hasError('required')">
          <span class="is-invalid">LastName is required</span>
        </div>
      <br>


      <div class="content">
        <label>Phone Number*</label>
        <input type="text" class="form-control" formControlName="phoneNumber">
      </div>

      <div
          *ngIf="registrationForm.controls['phoneNumber'].touched && registrationForm.controls['phoneNumber'].hasError('required')">
          <span class="is-invalid">phone number is required</span>
        </div>
      <br>




      <div class="content">
        <label>Email id*</label>
        <input type="text" class="form-control" formControlName="email">

      </div>
      <div
          *ngIf="registrationForm.controls['email'].touched && registrationForm.controls['email'].hasError('required')">
          <span class="is-invalid">Email id is required</span>
        </div>
      <br>


      <div class="content">
        <label>Password</label>
        <input type="password" class="form-control" formControlName="password">
        
      </div>
      <br>

      <div class="content">
        <label>Confirm Password</label>
        <input type="password" class="form-control" formControlName="confirmPassword">
       
          </div>
          <div *ngIf="registrationForm.errors">
            <div *ngIf="registrationForm.errors['doNotMatch']">
              <span class="is-invalid">Password do not match</span>
            </div>
        </div>

        <br>


        <div class="cont">
          <button type="submit" (click)="onRegister()">submit</button>
        </div>

      
    </form>
  
  </div>
